//end 575px
@media screen and (max-width: 480px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }
    .content {
        width: 100%;
    }
    fieldset.current {
        padding-left: 20px;
        padding-right: 20px;
    }
    .actions ul li a {
        width: 100px;
    }
}
@media screen and (max-width: 400px) {
    .steps ul:after {
        width: 230px;
    }
    .title-text {
        padding: 0 10px;
    }
}
