<app-navbar></app-navbar>
<div class="container">
    <div class="row center justify-content-center">
        <div class="col-12 my-1 text-center">
            <h1>Algunos de nuestro Juegos</h1>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;"
            (click)="goToDraw()">
            <i class="fas fa-pencil-ruler" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Dibuja</div>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;">
            <i class="fas fa-search" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Descubre</div>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;">
            <i class="fas fa-music" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Crea</div>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;"
            (click)="goToImagine()">
            <i class="fas fa-brain" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Imagina</div>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;">
            <i class="fas fa-puzzle-piece" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Piensa</div>
        </div>
        <div class="col-5 m-4 p-2 red text-center" style="color:#7E3B91;">
            <i class="fas fa-lightbulb" style="font-size: 50px;">
            </i>
            <div class="mt-1" style="font-size: 25px;"> Inventa</div>
        </div>


    </div>