.balance{
    height: 100%;
    width: 100%;
}
.balance-banner{
    margin:2%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(169, 209, 58);
    font-weight: bold;
}   
.balance-value{
    font-size: 3.5rem;
    margin-left: 5.5rem;
    color: white;
}
.transaction-container{
    width: 100%;
    height: 15vh;
    padding: 2%;
    display: flex;
}
.transaction-photo{
    height: 90%;
}
.transaction-photo img{
    height: 13vh;
    width: 13vh;
    object-fit: cover;
    border-radius: 13vh;
}
.transaction-info{
    padding: 1%;
}
.transaction-info p{
    margin: 0;
}
.transactions-sell{
    display: flex;
    justify-content: space-between;
}
.medals-icons{
    color: rgb(169, 209, 58);
    height: 10vh;
    margin: 2%;
    display: flex;
    justify-content: space-around;
}
.medals-icons .inactive{
    color: grey;
}
.medals-line{
    height: 2vh;
    width: 80vw;
    border: solid gray 1px;
    border-radius: 20px;
    margin-left: 12%;
}
.medals-line-active{
    height: 100%;
    width: 20%;
    background-color:  rgb(169, 209, 58);
    border-radius: 20px;    
}
.goal-container{
    display: flex;
    margin: 2%;
}
.goal-icon{
    min-height: 10vh;
    min-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.colorgreen{
    color: rgb(169, 209, 58);;
}
.payment-container{
    height: 100%;
    width: 100%;
}
.payment-code{
    width: 100%;
    display: flex;
    justify-content: center;
}
.payment-code img{
    width: 100%;
}