<link href='../css/login.css' rel='stylesheet' type='text/css'>

<form method="post" action="login.html">
<div class="box">
<h1>Iniciar Sesión</h1>

<input type="email" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<a href="index.html"><div class="btn">Iniciar Sesión</div></a> <!-- End Btn -->

<a href="signup.html"><div id="btn2">Regístrate</div></a> <!-- End Btn2 -->
  
</div> <!-- End Box -->
  
</form>

<p>Se te olvido tu contraseña? <u style="color:#f1c40f;">Click Here!</u></p>
  
<script src="../js/login.js" type="text/javascript"></script>
