.navigationbar{
    height: 10vh;
    width: 100vw;
    background-color: #72b324;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationelement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 100%;
    color: #8BD324;
}
.navigationelement.active{
    color: white;
}
.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 17vw;
    border-radius: 20vw;
    border: solid white 3px;
    background-color: white;
    color: #72b324;
}